:root{
    --color-primary: #2D4356;
    --color-secondary: #e8e1d3;
    --color-accent: #A76F6F;
}

.font-main {
    font-family: yowaku;
}

.font-accent {
    font-family: "memowa-ru";
}

.font-base {
    font-family: "Hannari";
}
