:root{
    --color-primary: #8d001d;
    --color-secondary: #e2dbbd;
    --color-accent: #759488;
}

.font-main {
    font-family: yowaku;
}

.font-accent {
    font-family: "memowa-ru";
}

.font-base {
    font-family: "Hannari";
}
